In [1]:
from datetime import datetime

In [2]:
a=datetime.now()
print(a)
print(a.year)
print(a.month)
print(a.day)
print(a.hour)

2020-01-29 14:50:09.195227
2020
1
29
14

In [3]:
from datetime import *
now=datetime.now()
print(now)
print('date now :{}-{}-{}'.format(now.day,now.month,now.year))
print('time now :{}-{}-{}'.format(now.hour,now.minute,now.second))

2020-01-29 14:50:09.315227
date now :29-1-2020
time now :14-50-9

In [4]:
tdm=datetime.today()
print(tdm)
print('today date and time',tdm)

2020-01-29 14:50:09.437028
today date and time 2020-01-29 14:50:09.437028

In [5]:
td=date.today()
td

datetime.date(2020, 1, 29)

In [6]:
x=datetime(2011,1,7)-datetime(2008,6,24,8,15)
print(x)
print(x.days)
print(x.seconds)

926 days, 15:45:00
926
56700

In [7]:
x.total_seconds()

80063100.0

In [8]:
datetime(2011,12,26)+timedelta(206)

datetime.datetime(2012, 7, 19, 0, 0)

In [9]:
## print values
values='26 dec 1993'

In [10]:
dates=(datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,2))

In [11]:
import numpy as np
import pandas as pd
ts=pd.Series(np.random.rand(3),index=dates)
ts

2011-01-02    0.590234
2011-01-05    0.603716
2011-01-02    0.868333
dtype: float64

In [12]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-02'], dtype='datetime64[ns]', freq=None)

In [13]:
stamp=ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [14]:
ts[stamp]

2011-01-02    0.590234
2011-01-02    0.868333
dtype: float64

In [15]:
now=datetime.now()
print(now)
timestamp=datetime.timestamp(now)
print(timestamp)

2020-01-29 14:50:11.116627
1580289611.116627

In [16]:
longer_ts=pd.Series(np.random.rand(1000),index=pd.date_range('1/1/2000',periods=1000))
longer_ts

2000-01-01    0.206672
2000-01-02    0.346448
2000-01-03    0.105397
2000-01-04    0.432970
2000-01-05    0.446252
2000-01-06    0.065973
2000-01-07    0.595328
2000-01-08    0.130243
2000-01-09    0.178992
2000-01-10    0.919650
2000-01-11    0.823283
2000-01-12    0.457897
2000-01-13    0.479575
2000-01-14    0.712448
2000-01-15    0.143361
2000-01-16    0.951384
2000-01-17    0.969633
2000-01-18    0.958440
2000-01-19    0.989629
2000-01-20    0.605688
2000-01-21    0.682707
2000-01-22    0.077701
2000-01-23    0.953380
2000-01-24    0.875142
2000-01-25    0.228828
2000-01-26    0.258659
2000-01-27    0.883338
2000-01-28    0.328903
2000-01-29    0.589460
2000-01-30    0.706213
                ...
2002-08-28    0.234678
2002-08-29    0.933369
2002-08-30    0.891238
2002-08-31    0.900851
2002-09-01    0.656540
2002-09-02    0.599299
2002-09-03    0.807671
2002-09-04    0.101650
2002-09-05    0.667543
2002-09-06    0.405780
2002-09-07    0.034937
2002-09-08    0.967349
2002-09-09    0.660838
2002-09-10    0.996213
2002-09-11    0.363959
2002-09-12    0.164529
2002-09-13    0.932970
2002-09-14    0.549332
2002-09-15    0.295730
2002-09-16    0.314337
2002-09-17    0.677185
2002-09-18    0.782947
2002-09-19    0.855277
2002-09-20    0.276558
2002-09-21    0.138104
2002-09-22    0.101750
2002-09-23    0.342363
2002-09-24    0.666953
2002-09-25    0.982571
2002-09-26    0.468622
Freq: D, Length: 1000, dtype: float64

In [17]:
longer_ts['2001']

2001-01-01    0.204536
2001-01-02    0.798544
2001-01-03    0.392320
2001-01-04    0.903604
2001-01-05    0.803268
2001-01-06    0.291019
2001-01-07    0.079812
2001-01-08    0.594236
2001-01-09    0.065661
2001-01-10    0.531847
2001-01-11    0.416003
2001-01-12    0.281486
2001-01-13    0.693422
2001-01-14    0.846666
2001-01-15    0.459446
2001-01-16    0.367476
2001-01-17    0.479246
2001-01-18    0.013475
2001-01-19    0.576867
2001-01-20    0.419340
2001-01-21    0.500505
2001-01-22    0.945607
2001-01-23    0.289549
2001-01-24    0.049846
2001-01-25    0.672813
2001-01-26    0.140068
2001-01-27    0.077625
2001-01-28    0.372195
2001-01-29    0.334772
2001-01-30    0.169338
                ...
2001-12-02    0.452713
2001-12-03    0.208878
2001-12-04    0.313366
2001-12-05    0.982262
2001-12-06    0.982101
2001-12-07    0.689741
2001-12-08    0.956491
2001-12-09    0.798248
2001-12-10    0.649334
2001-12-11    0.183528
2001-12-12    0.058163
2001-12-13    0.785719
2001-12-14    0.461688
2001-12-15    0.637017
2001-12-16    0.416872
2001-12-17    0.904475
2001-12-18    0.794943
2001-12-19    0.242519
2001-12-20    0.773613
2001-12-21    0.719253
2001-12-22    0.800403
2001-12-23    0.900768
2001-12-24    0.914315
2001-12-25    0.296550
2001-12-26    0.984507
2001-12-27    0.646246
2001-12-28    0.072502
2001-12-29    0.228324
2001-12-30    0.079063
2001-12-31    0.278663
Freq: D, Length: 365, dtype: float64

In [18]:
longer_ts['2001-05']

2001-05-01    0.585558
2001-05-02    0.754218
2001-05-03    0.276488
2001-05-04    0.411021
2001-05-05    0.909961
2001-05-06    0.830091
2001-05-07    0.600277
2001-05-08    0.296657
2001-05-09    0.178546
2001-05-10    0.088343
2001-05-11    0.776830
2001-05-12    0.381361
2001-05-13    0.156133
2001-05-14    0.525704
2001-05-15    0.741725
2001-05-16    0.924191
2001-05-17    0.401001
2001-05-18    0.462299
2001-05-19    0.456348
2001-05-20    0.431188
2001-05-21    0.618516
2001-05-22    0.963945
2001-05-23    0.699914
2001-05-24    0.756617
2001-05-25    0.450647
2001-05-26    0.322557
2001-05-27    0.676334
2001-05-28    0.114676
2001-05-29    0.927752
2001-05-30    0.242057
2001-05-31    0.208149
Freq: D, dtype: float64

In [21]:
ts

2011-01-02    0.590234
2011-01-05    0.603716
2011-01-02    0.868333
dtype: float64

In [24]:
ts[datetime(2011, 1, 5):]

2011-01-05    0.603716
2011-01-02    0.868333
dtype: float64

In [26]:
pd.date_range('2000-01-01','2001-01-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [28]:
dates=pd.date_range('1/1/2019',periods=100,freq='W-WED')
dates

DatetimeIndex(['2019-01-02', '2019-01-09', '2019-01-16', '2019-01-23',
               '2019-01-30', '2019-02-06', '2019-02-13', '2019-02-20',
               '2019-02-27', '2019-03-06', '2019-03-13', '2019-03-20',
               '2019-03-27', '2019-04-03', '2019-04-10', '2019-04-17',
               '2019-04-24', '2019-05-01', '2019-05-08', '2019-05-15',
               '2019-05-22', '2019-05-29', '2019-06-05', '2019-06-12',
               '2019-06-19', '2019-06-26', '2019-07-03', '2019-07-10',
               '2019-07-17', '2019-07-24', '2019-07-31', '2019-08-07',
               '2019-08-14', '2019-08-21', '2019-08-28', '2019-09-04',
               '2019-09-11', '2019-09-18', '2019-09-25', '2019-10-02',
               '2019-10-09', '2019-10-16', '2019-10-23', '2019-10-30',
               '2019-11-06', '2019-11-13', '2019-11-20', '2019-11-27',
               '2019-12-04', '2019-12-11', '2019-12-18', '2019-12-25',
               '2020-01-01', '2020-01-08', '2020-01-15', '2020-01-22',
               '2020-01-29', '2020-02-05', '2020-02-12', '2020-02-19',
               '2020-02-26', '2020-03-04', '2020-03-11', '2020-03-18',
               '2020-03-25', '2020-04-01', '2020-04-08', '2020-04-15',
               '2020-04-22', '2020-04-29', '2020-05-06', '2020-05-13',
               '2020-05-20', '2020-05-27', '2020-06-03', '2020-06-10',
               '2020-06-17', '2020-06-24', '2020-07-01', '2020-07-08',
               '2020-07-15', '2020-07-22', '2020-07-29', '2020-08-05',
               '2020-08-12', '2020-08-19', '2020-08-26', '2020-09-02',
               '2020-09-09', '2020-09-16', '2020-09-23', '2020-09-30',
               '2020-10-07', '2020-10-14', '2020-10-21', '2020-10-28',
               '2020-11-04', '2020-11-11', '2020-11-18', '2020-11-25'],
              dtype='datetime64[ns]', freq='W-WED')

In [33]:
longer_df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=['colorado','texas','new yark','ohio'])
longer_df

            colorado     texas  new yark      ohio
2019-01-02 -1.152411  1.403306 -1.096374 -1.579853
2019-01-09 -0.403164 -0.968623  0.597877 -0.516312
2019-01-16  0.095254  0.202595 -0.332391  0.630237
2019-01-23  0.276992  0.339885 -0.867460 -1.679833
2019-01-30  1.361079 -0.146217  0.730487 -0.766219
2019-02-06  1.093698 -1.596240  1.652599 -1.105264
2019-02-13  0.356694 -1.444819 -0.047411  1.297337
2019-02-20 -1.046039 -0.564471  0.308571  1.571130
2019-02-27 -0.803240  0.135496 -0.267401  1.463452
2019-03-06 -1.668171  0.148671 -0.718112 -0.270673
2019-03-13 -1.118553  0.576621  1.669616 -2.384750
2019-03-20  0.057163  0.952760 -0.589183  0.700843
2019-03-27  0.760631 -1.969494 -0.382233 -1.193283
2019-04-03  1.457452  0.505645  1.436037 -0.861213
2019-04-10 -1.013644  1.215204 -0.666664  1.630032
2019-04-17  0.268833 -0.392316  0.345698  0.692458
2019-04-24  0.699953 -0.662948  0.821109  0.929154
2019-05-01  1.124865 -0.033535  0.340156  0.039514
2019-05-08  0.620061  0.832860 -0.526159 -0.129660
2019-05-15  1.646484 -1.010711 -0.138908  0.176426
2019-05-22 -0.342862 -0.659445  0.506632  0.230880
2019-05-29 -0.355877 -0.420580 -1.903835  0.342756
2019-06-05  2.255558  0.746696 -0.983985  1.183478
2019-06-12 -0.279933  2.029613  0.179087  0.070772
2019-06-19  2.070753  0.706353  0.924795  1.084588
2019-06-26 -0.714117 -0.106421 -0.151846 -0.713373
2019-07-03  0.338449  1.104039  0.965318  0.422659
2019-07-10 -1.953583  1.861858 -2.007915 -1.502752
2019-07-17  0.643663  0.282167 -0.583040 -0.965805
2019-07-24 -0.559017 -1.842103  1.016684  0.899608
...              ...       ...       ...       ...
2020-05-06  0.839699 -1.649395  1.285573  1.055984
2020-05-13 -0.364064 -0.120075 -0.123366  1.365139
2020-05-20  1.266082  1.730924  0.788690 -0.405707
2020-05-27  0.522013  1.148832  1.420849 -1.125153
2020-06-03 -0.001919 -1.133238  0.071907 -1.474595
2020-06-10 -0.136405  1.101922 -0.488468 -0.873401
2020-06-17  0.509597 -0.830047  0.662047  0.124381
2020-06-24  0.046209  0.597817  0.093180  1.206278
2020-07-01 -1.480199  0.599387 -0.078283 -1.683313
2020-07-08 -0.021664  1.581939 -0.011438 -1.710355
2020-07-15  1.856349 -0.824813 -1.558209 -0.414293
2020-07-22  0.625648 -0.319202  0.405419 -1.407531
2020-07-29  1.228328  1.434094 -1.611836 -2.546642
2020-08-05 -0.796140  1.443925  0.015765  1.125888
2020-08-12  0.028483 -0.945794 -0.145210  1.979193
2020-08-19  1.237183 -0.513275 -0.558113  0.067291
2020-08-26 -1.127174 -1.909565 -0.536422  0.200881
2020-09-02 -1.619280  0.913037 -0.102121 -0.987929
2020-09-09 -0.193323 -1.460518  0.226720  1.507700
2020-09-16  0.404821 -0.218656  1.375223  0.312981
2020-09-23 -0.770437  0.232804  0.022899  0.345804
2020-09-30  0.085944  0.703935  0.795755 -1.043597
2020-10-07 -0.177639  0.477576 -0.796543  0.150111
2020-10-14 -0.336196  1.092290  0.946483  1.329745
2020-10-21 -0.412846  0.093918 -0.162008 -1.488671
2020-10-28 -0.183634 -0.025356 -0.926356  0.566775
2020-11-04  0.093875 -1.670540 -1.645522  0.143028
2020-11-11  0.532544 -1.621615 -0.842296 -0.321699
2020-11-18  0.784469 -0.145959 -1.671715  0.514806
2020-11-25  0.522961 -0.363911  0.040312  0.797054

[100 rows x 4 columns]

In [35]:
longer_df.loc['6-2019']

            colorado     texas  new yark      ohio
2019-06-05  2.255558  0.746696 -0.983985  1.183478
2019-06-12 -0.279933  2.029613  0.179087  0.070772
2019-06-19  2.070753  0.706353  0.924795  1.084588
2019-06-26 -0.714117 -0.106421 -0.151846 -0.713373

In [37]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/4/2000','1/5/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-04', '2000-01-05'], dtype='datetime64[ns]', freq=None)

In [40]:
dup_ts=pd.Series(np.arange(4),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-04    2
2000-01-05    3
dtype: int32

In [41]:
dates=pd.DatetimeIndex(['1/2/2000','1/2/2000','1/4/2000','1/2/2000'])
dates

DatetimeIndex(['2000-01-02', '2000-01-02', '2000-01-04', '2000-01-02'], dtype='datetime64[ns]', freq=None)

In [43]:
dup_ts['1/2/2000']
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-04    2
2000-01-05    3
dtype: int32

In [46]:
grouped=dup_ts.groupby(level=0)

In [47]:
grouped.mean()

2000-01-01    0
2000-01-02    1
2000-01-04    2
2000-01-05    3
dtype: int32

In [48]:
grouped.count()

2000-01-01    1
2000-01-02    1
2000-01-04    1
2000-01-05    1
dtype: int64

In [51]:
index=pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range(start='2012-04-01',end='2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range(start='1/1/2019',periods=5,freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [57]:
from pandas.tseries.offsets import Hour,Minute
hour=Hour()
hour

In [58]:
_4hours=Hour(4)
_4hours

In [59]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [61]:
pd.date_range('2000-01-01',periods=10,freq='1H30MIN')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [62]:
s=pd.date_range('2019-12-11',periods=10)

In [63]:
for day in s:
    print(day.dayofweek,day.weekday_name)

2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

C:\Users\kvsw\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead